
/* 打字机效果渐变 -bynote.cn*/

#subtitle {
    background: linear-gradient(to right, #83deb4, #addba1, #cfd699, #e9d19f, #f9cdad);
    background-size: auto;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
